listen front
    mode tcp
    bind *:443

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    # Правило ухода на бэкенд reality если SNI reality_domain.com
    use_backend reality if { req.ssl_sni -i end reality_domain.com }
    # Правило ухода на бэкенд fallback если SNI cdn.example.com
    use_backend fallback if { req.ssl_sni -i end  marz.daffacell.me }
    # Правило ухода на бэкенд panel если SNI sub.example.com
    use_backend sub if { req.ssl_sni -i end  sub.example.com }
    # Правило ухода на бэкенд panel если SNI panel.example.com
    use_backend panel if { req.ssl_sni -i end  panel.example.com }

# Обьявляем backend reality c адресом:портом принимаюшей стороны при срабатывания правила
backend reality
    mode tcp
    server srv1 127.0.0.1:12000 send-proxy-v2 tfo
# Обьявляем backend fallback c адресом:портом принимаюшей стороны при срабатывания правила
backend fallback
    mode tcp
    server srv1 127.0.0.1:11000
# Обьявляем backend sub c адресом:портом принимаюшей стороны при срабатывания правила
backend sub
    mode tcp
    server srv1 127.0.0.1:10000
# Обьявляем backend panel c адресом:портом принимаюшей стороны при срабатывания правила
backend panel
    mode tcp
    server srv1 127.0.0.1:10000
